.header-block {
    background-color: #333;
}

.block-title {
    color: #ccc;
}

.sub-title {
    color: #ccc;
}

.row {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}

.fa-trash:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.title {
    color: #333;
    font-size: 13pt; 
}

.author {
    color: #999;
}

